#network{
    width: 98vw;
    height: 100vh;
}
.boite-dialogue {
    position: fixed;
    height: 10vh;
    width:30vw;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  /* Style pour les inputs de la boîte de dialogue *
  /* Style pour l'arrière-plan gris */
  .arriere-plan-gris {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  